<!-- public/views/entrainement.html -->

<div class="jumbotron text-center">
    <h1>Entrainement</h1>

    <p>{{ tagline }}</p>
        <!-- Page Features -->

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/cone.jpg" alt="">
                    <div class="caption">
                        <h2>Ajouter atelier</h2>
                        <p>Cette section va vous permettre d'ajouter un atelier</p>
                        <p>
                            <a href="/entrainement/voiratelier" class="btn btn-primary">Continuer</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/cone.jpg" alt="">
                    <div class="caption">
                        <h2>Gestion atelier</h2>
                        <p>Cette section va vous permettre de gérer un atelier</p>
                        <p>
                        <a href="#" class="btn btn-primary">Continuer</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/cone.jpg" alt="">
                    <div class="caption">
                        <h2>Créer séance</h2>
                        <p>Ici vous allez pouvoir créer votre future séance</p>
                        <p>
                        <a href="#" class="btn btn-primary">Continuer</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/cone.jpg" alt="">
                    <div class="caption">
                        <h2>Gérer séance</h2>
                        <p>Enfin vous allez pouvoir gérér vos séances ici</p>
                        <p>
                            <a href="#" class="btn btn-primary">Continuer</a>
                        </p>
                    </div>
                </div>
            </div>



    </div>
</div>
