<!-- public/views/equipe.html -->
<div class="jumbotron text-center">
    <h1>Equipe</h1>

    <p>{{ tagline }}</p>
    <div class="col-voir-left">
              <div class="widget">
                <div class="widget-title">
                  <i class="fa fa-tasks"></i> Equipes
                  <a href="/equipe/gerer" class="pull-right">Gérer</a>
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                          <tr><td><a href="" ng-model="show"> Equipes U19</a><input type="checkbox" ng-model="show"></td><td></td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
    </div>
        <div class="right2" ng-show="show">
             <div class="col-voir-rigth">
              <div class="widget">
                <div class="widget-title">
                  <i class="fa fa-tasks"></i> Statistique des 5 derniers matchs
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                          <tr><td> V : 0</td><td> D : 0 </td><td> N : 0</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                      </tbody>
                    </table>
                </div>
              </div>
              <div class="widget">
                <div class="widget-title">
                  <i class="fa fa-tasks"></i> Liste des joueurs
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                          <tr><th>Nom</th><th>Prénom</th><th>Rôle</th><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                          <tr><td>Bobo</td><td>Los</td><td>Attaquant</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
    </div>
</div>
    </div>
    
</div>