<!-- public/views/home.html -->
<div class="jumbotron text-center">
    <h1>Bienvenue sur Coach Maker</h1>

    <p>{{ tagline }}</p>
      <!-- Three columns of text below the carousel -->
      <div class="style row-img">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/entrainement.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Entrainements</h2>
          <p>Gérez vos entrainements à travers cette page</p>
          <p><a class="btn btn-default" href="/entrainement" role="button">Voir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/match.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Matchs</h2>
          <p>Ici vous allez pouvoir gérer vos matchs</p>
          <p><a class="btn btn-default" href="/match" role="button">Voir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/equipe.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Equipes</h2>
          <p>Enfin, vous pouvez consulter vos équipes.</p>
          <p><a class="btn btn-default" href="/equipe" role="button">Voir »</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

</div>
