<!-- public/views/match.html -->
<div class="jumbotron text-center">
    <h1>Matchs</h1>

    <p>{{ tagline }}</p>
     <div class="col-lg-6">
              <div class="widget">
                <div class="widget-title">
                  <i class="fa fa-tasks"></i> Matchs
                  <!--<a href="#" class="pull-right">Gérer</a>-->
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                      <table>
   <tr>
       <th>Date</th>
       <th>Adversaire</th>
       <th>Score</th>
   </tr>

   <tr>
       <td>12/12/2014</td>
       <td>FC Sete</td>
       <td><a href ="/matchencours">Jouer ce match !</a></td>
   </tr>
   <tr>
       <td>20/11/2014</td>
       <td>Lunel</td>
       <td>V 3-0</td>
   </tr>
</table>
                       <!-- <tr><td>FC Sete</td><td></td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr                      </tbody> -->
                    </table>
                  </div>
                </div>
              </div>
</div>
</div>
