<div class="jumbotron text-center">
    <h1>Vos ateliers</h1>
    
    <div class="col-voir">
              <div class="widget">
                <div class="widget-title">
                  <i class="fa fa-tasks"></i> Liste des ateliers
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                          <tr><th>Nom</th><th>Nombre de joueurs</th><th>Objectif</th><th>Difficulté</th><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                          <tr><td>Passes 1-2</td><td>Minimum 2</td><td>Passe</td><td>Facile</ts><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
    </div>
</div>